.Top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 99px;
  width: 100px;
  font-size: 36px;
}

.Home:hover {
  background-color: rgb(27, 65, 27);
  cursor: pointer;
}

.Home:active {
  height: 94px;
  width: 94px;
  border: 3px solid black;
}

.Devices {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 99px;
  width: 100px;
  font-size: 36px;
}

.Devices:hover {
  background-color: rgb(27, 65, 27);
  cursor: pointer;
}

.Devices:active {
  height: 94px;
  width: 94px;
  border: 3px solid black;
}

.Add {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 99px;
  width: 100px;
  font-size: 36px;
}

.Add:hover {
  background-color: rgb(27, 65, 27);
  cursor: pointer;
}

.Add:active {
  height: 94px;
  width: 94px;
  border: 3px solid black;
}

.Setting {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 99px;
  width: 100px;
  font-size: 36px;
}

.Setting:hover {
  background-color: rgb(27, 65, 27);
  cursor: pointer;
}

.Setting:active {
  height: 94px;
  width: 94px;
  border: 3px solid black;
}