.List {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.EMCList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PMVList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PMVTitle {
  font-weight: bold;
  color: black;
  font-size: 36px;
}

.EMCTitle {
  font-weight: bold;
  color: black;
  font-size: 36px;
}

.DeviceTitle {
  font-weight: bold;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d16218;
  background-color: black;
  border: 2px solid black;
  border-radius: 7px;
}

.EMCDevice {
  height: 220px;
  width: 600px;
  border: 2px solid rgb(2, 68, 7);
  border-radius: 20px;
  padding: 5px;
  margin: 20px;
  background: #33883f;
  background: -webkit-linear-gradient(#33883f, #2f7c33);
  background: -o-linear-gradient(#33883f, #2f7c33);
  background: -moz-linear-gradient(#33883f, #2f7c33);
  background: linear-gradient(#33883f, #2f7c33);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PMVDevice {
  width: 600px;
  height: 180px;
  border: 2px solid rgb(2, 68, 7);
  border-radius: 20px;
  padding: 5px;
  margin: 20px;
  background: #33883f;
  background: -webkit-linear-gradient(#33883f, #2f7c33);
  background: -o-linear-gradient(#33883f, #2f7c33);
  background: -moz-linear-gradient(#33883f, #2f7c33);
  background: linear-gradient(#33883f, #2f7c33);
  display: flex;
  align-items: center;
  justify-content: space-between;
}