.AddDevice {
  width: calc(100% - 100px);
  margin: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.AddEMC {
  border: 2px solid black;
  box-shadow: 4px 4px black;
  border-radius: 25px;
  margin: 5vh;
  width: 40vh;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #33883f;
  background: -webkit-linear-gradient(#33883f, #2f7c33);
  background: -o-linear-gradient(#33883f, #2f7c33);
  background: -moz-linear-gradient(#33883f, #2f7c33);
  background: linear-gradient(#33883f, #2f7c33);
}

.AddEMCForm {
  height: 60vh;
}

.AddPMV {
  border: 2px solid black;
  box-shadow: 4px 4px black;
  border-radius: 25px;
  margin: 5vh;
  width: 40vh;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #33883f;
  background: -webkit-linear-gradient(#33883f, #2f7c33);
  background: -o-linear-gradient(#33883f, #2f7c33);
  background: -moz-linear-gradient(#33883f, #2f7c33);
  background: linear-gradient(#33883f, #2f7c33);
}

.AddPMVForm {
  height: 60vh;
}

.formBottomPMV {
  align-self: center;
  background-color: rgb(114, 174, 197);
  padding: 10px;
  border-radius: 6px;
  box-shadow: 1px 1px black;
}

.Radio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

h3 {
  color: white;
  text-shadow: 1px 1px black;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}

.Submit-PMV {
  background-color: rgb(163, 106, 0);
  font-weight: bold;
  font-size: 20px;
  text-shadow: 1px 1px #000000;
  color: white;
  height: 40px;
  width: 20vh;
  margin: 20px;
  border-radius: 5px;
  border: solid 2px white;
  box-shadow: 2px 2px black;
}

.Submit-PMV:active {
  box-shadow: 1px 1px black;
}

.Submit-PMV:hover {
  background-color: #2f7c33;
}

.Submit-EMC {
  background-color: rgb(163, 106, 0);
  font-weight: bold;
  font-size: 20px;
  text-shadow: 1px 1px #000000;
  color: white;
  height: 40px;
  width: 20vh;
  margin: 20px;
  border-radius: 5px;
  border: solid 2px white;
  box-shadow: 2px 2px black;
}

.Submit-EMC:active {
  box-shadow: 1px 1px black;
}

.Submit-EMC:hover {
  background-color: #2f7c33;
}

button:hover {
  cursor: pointer;
}

.AddDevice-Form {
  display: flex;
  flex-direction: column;
}

input {
  height: 24px;
}

#AGM {
  box-shadow: 0px 0px rgb(68, 68, 68);
}

#Lithium {
  box-shadow: 0px 0px rgb(68, 68, 68);
}