.User {
  display: flex;
}

.Profile {
  border: 1px solid black;
  color: white;
  margin: 5vh;
  width: 40vh;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #33883f;
  background: -webkit-linear-gradient(#33883f, #2f7c33);
  background: -o-linear-gradient(#33883f, #2f7c33);
  background: -moz-linear-gradient(#33883f, #2f7c33);
  background: linear-gradient(#33883f, #2f7c33);
}

.Logout {
  border: 1px solid black;
  color: white;
  margin: 5vh;
  width: 40vh;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #33883f;
  background: -webkit-linear-gradient(#33883f, #2f7c33);
  background: -o-linear-gradient(#33883f, #2f7c33);
  background: -moz-linear-gradient(#33883f, #2f7c33);
  background: linear-gradient(#33883f, #2f7c33);
}