.DeviceDetails {
  display: flex;
  flex-direction: column;
  width: calc(100% - 100px);
}

.DeviceDetailsTop {
  display: flex;
}

.DeviceDetailsBottom {
  display: flex;
}

.DeviceDetailsLeft {
  display: flex;
  flex-direction: column;
}

.DeviceDetailsRight {
  display: flex;
  flex-direction: column;
}

.GoBack {
  width: 70px;
  height: 70px;
  border-radius: 15px;
  margin: 20px;
  border: 2px solid black;
  box-shadow: 4px 4px black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  background: #477abd;
  background: -webkit-linear-gradient(#477abd, #084eaa);
  background: -o-linear-gradient(#477abd, #084eaa);
  background: -moz-linear-gradient(#477abd, #084eaa);
  background: linear-gradient(#477abd, #084eaa);
}

.GoBack:hover {
  cursor: pointer;
  background: #0c3b79;
  background: -webkit-linear-gradient(#0c3b79, #084eaa);
  background: -o-linear-gradient(#0c3b79, #084eaa);
  background: -moz-linear-gradient(#0c3b79, #084eaa);
  background: linear-gradient(#0c3b79, #084eaa);
}

.GoBack:active {
  box-shadow: 1px 1px black;
}

.DeviceDetailsName {
  height: 70px;
  border-radius: 15px;
  margin: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px solid black;
  box-shadow: 4px 4px black;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background: #f6fffc;
  background: -webkit-linear-gradient(#f6fffc, #defff2);
  background: -o-linear-gradient(#f6fffc, #defff2);
  background: -moz-linear-gradient(#f6fffc, #defff2);
  background: linear-gradient(#f6fffc, #defff2);
}

.Tab {
  height: 70px;
  border-radius: 15px;
  margin: 10px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid black;
  box-shadow: 4px 4px black;
  text-shadow: 3px 3px black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  background: #0d9c65;
  background: -webkit-linear-gradient(#0d9c65, #036d44);
  background: -o-linear-gradient(#0d9c65, #036d44);
  background: -moz-linear-gradient(#0d9c65, #036d44);
  background: linear-gradient(#0d9c65, #036d44);
}

.Tab:hover {
  cursor: pointer;
  background: #08583a;
  background: -webkit-linear-gradient(#08583a, #004128);
  background: -o-linear-gradient(#08583a, #004128);
  background: -moz-linear-gradient(#08583a, #004128);
  background: linear-gradient(#08583a, #004128);
}

.Tab:active {
  box-shadow: 1px 1px black;
}

/* Most of ModifyDeviceDetails Attribute are in addDevice */
.ModifyDeviceDetails {
  margin-top: -20px;
}

.DeviceDetailsInfo {
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 4px 4px black;
  padding: 30px;
  margin: 40px;
  background: #33883f;
  background: -webkit-linear-gradient(#33883f, #2f7c33);
  background: -o-linear-gradient(#33883f, #2f7c33);
  background: -moz-linear-gradient(#33883f, #2f7c33);
  background: linear-gradient(#33883f, #2f7c33);
}

.DeviceDetailsInfoData {
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 3px 3px black;
}

.DeviceDetailsInfoTitle {

}

.DeviceDetailsData {
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 4px 4px black;
  padding: 30px;
  margin: 40px;
  height: 25vh;
  background: #33883f;
  background: -webkit-linear-gradient(#33883f, #2f7c33);
  background: -o-linear-gradient(#33883f, #2f7c33);
  background: -moz-linear-gradient(#33883f, #2f7c33);
  background: linear-gradient(#33883f, #2f7c33);
}

.DeleteDevice {
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 4px 4px black;
  padding: 15px;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px black;
  background: #a51717;
  background: -webkit-linear-gradient(#a51717, #5f0909);
  background: -o-linear-gradient(#a51717, #5f0909);
  background: -moz-linear-gradient(#a51717, #5f0909);
  background: linear-gradient(#a51717, #5f0909);
}

.DeleteDevice:hover {
  cursor: pointer;
  background: #5f0909;
  background: -webkit-linear-gradient(#5f0909, #330404);
  background: -o-linear-gradient(#5f0909, #330404);
  background: -moz-linear-gradient(#5f0909, #330404);
  background: linear-gradient(#5f0909, #330404);
}

.DeleteDevice:active {
  box-shadow: 1px 1px black;
  text-shadow: 0px 0px black;
}

.DeviceDetailsBottom {
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 4px 4px black;
  width: 85vw;
  padding: 40px;
  margin: 40px;
  margin-top: 1px;
  background: #e2ffe6;
  background: -webkit-linear-gradient(#e2ffe6, #b4f0b7);
  background: -o-linear-gradient(#e2ffe6, #b4f0b7);
  background: -moz-linear-gradient(#e2ffe6, #b4f0b7);
  background: linear-gradient(#e2ffe6, #b4f0b7);
}

.DeviceMoreInfo {
  display: flex;
}

.GraphDeviceDetails {
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.GraphDeviceDetailsTop {
  display: flex;
  flex-direction: row;
}

.DeviceDetailsGraphDataType {
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 4px 4px black;
  margin-right: 20px;
  padding: 20px;
  color: black;
  background: #d0eed4;
  background: -webkit-linear-gradient(#d0eed4, #b0ceb1);
  background: -o-linear-gradient(#d0eed4, #b0ceb1);
  background: -moz-linear-gradient(#d0eed4, #b0ceb1);
  background: linear-gradient(#d0eed4, #b0ceb1);
}

.GraphDeviceDetailsDateSlider {
  width: 300px;
  border-radius: 15px;
  border: 2px solid black;
  box-shadow: 4px 4px black;
  padding: 20px;
  margin-right: 20px;
  color: black;
  background: #d0eed4;
  background: -webkit-linear-gradient(#d0eed4, #b0ceb1);
  background: -o-linear-gradient(#d0eed4, #b0ceb1);
  background: -moz-linear-gradient(#d0eed4, #b0ceb1);
  background: linear-gradient(#d0eed4, #b0ceb1);
}

.GraphAddDevice {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  padding: 20px;
  color: black;
}

.GraphAddDeviceButton {
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}