.DeviceDetails {
  display: flex;
  
}

.DeviceDetailsLeft {
  border-radius: 15px;
  margin: 40px;
  padding: 30px;
  display: flex;
  background: #33883f;
  background: -webkit-linear-gradient(#33883f, #2f7c33);
  background: -o-linear-gradient(#33883f, #2f7c33);
  background: -moz-linear-gradient(#33883f, #2f7c33);
  background: linear-gradient(#33883f, #2f7c33);
}

.DeviceDetailsRight {
  display: flex;
  flex-direction: column;
}

.DeviceDetailsInfo {
  border-radius: 15px;
  padding: 30px;
  margin: 40px;
  background: #33883f;
  background: -webkit-linear-gradient(#33883f, #2f7c33);
  background: -o-linear-gradient(#33883f, #2f7c33);
  background: -moz-linear-gradient(#33883f, #2f7c33);
  background: linear-gradient(#33883f, #2f7c33);
}

.DeviceDetailsData {
  border-radius: 15px;
  padding: 30px;
  margin: 40px;
  background: #33883f;
  background: -webkit-linear-gradient(#33883f, #2f7c33);
  background: -o-linear-gradient(#33883f, #2f7c33);
  background: -moz-linear-gradient(#33883f, #2f7c33);
  background: linear-gradient(#33883f, #2f7c33);
}